body{
    background-color: lightgray;
}

.container div{
    color: black;
    background-color: gray;
    border: 1px solid white;
    text-align: center;
    font-size: larger;
    padding-top: 1rem;
    background-color: greenyellow;

}

.container div:hover{
    background-color: blue;
    color: red;
}

#sec1 p,#sec2 p,#sec3 p,#sec4 p,#sec5 p,#sec6 p,#sec7 p,#sec8 p,#sec9 p{
    font-size: 3rem;
}