.header{
    background-color: orange;
    color: white;
}

.menu{
    background-color: skyblue;
    color: white;
}

.sidebar{
    background-color: skyblue;
    color: white;
}

.breadcrumb{
    background-color: yellow;
    color: white;
}

.content{
    background-color: black;
    color: white;
}

.footer{
    background-color: skyblue;
    color: white;
}

.wrapper{
    color: white;
    text-align: center;
    font-size: 1.4rem;
}